Source: ros-hydro-rtabmap
Section: misc
Priority: extra
Maintainer: Mathieu Labbe <matlabbe@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libfreenect-dev, libopenni-dev, libopenni2-dev, libpcl-1.7-all-dev, libqt4-dev, libsqlite3-dev, ros-hydro-cv-bridge, zlib1g-dev
Homepage: http://introlab.github.io/rtabmap
Standards-Version: 3.9.2

Package: ros-hydro-rtabmap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfreenect-dev, libopenni-dev, libopenni2-dev, libpcl-1.7-all-dev, libqt4-dev, libsqlite3-dev, ros-hydro-cv-bridge, zlib1g-dev
Description: RTAB-Map's standalone library. RTAB-Map is an RGB-D SLAM approach with real-time constraints.
